@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Mitr:wght@200;300;400;500;600;700&display=swap');

:root{
    --primary: #ffbd00;
    --secondary: #ff60ce;
    --background: #0b0016;
    --grey: #9b9eac;
    --light: #fff;
    --dark:#0a0a0a;
    --main-font:'Mitr', sans-serif;
    --secondary-font: 'Barlow', sans-serif;
    --sidePadding: 12%;
}
*{
    box-sizing: border-box;
    font-family: var(--secondary-font);
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    background-color: var(--background);
    color: var(--grey);
    width: 100%;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 20000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.modal.open {
    display: flex;
}
.modal-content {
    background-color: var(--dark);
    margin: auto; /* 15% from the top and centered */
    padding: 2em;
    box-shadow: var(--grey);
    width: 80%; /* Could be more or less, depending on screen size */
    max-height: calc(100% - 4em);
    display: flex;
    flex-direction: column;
}
.close {
    color: #aaa;
    margin-left: auto;
    font-size: 2em;
    font-weight: bold;
    transition: color 200ms ease-in;
}

.close:hover, .close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
.modal-content h2 {
    margin: 0 auto 1em auto;
    text-transform: uppercase;
}
.modal-content form {
    display: flex;
    flex-wrap: wrap;
    padding: 2em 4em;
    overflow-y: auto;
}
label {
    font-weight: 600;
    color: var(--primary);
    font-size: 1.3em;
}
.input {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1em;
}



.main-nav{
    display: flex;
    flex-wrap: wrap;
    padding: 0 var(--sidePadding);
    width: 100%;
    top:0;
    left:0;
    position: absolute;
    z-index: 300;
}
.main-nav.fixed{
    position: fixed;
    background-color: var(--dark);
}
.nav-logo{
    height: 5em;
    width: 6em;
    display: flex;
    align-items: center;
}
.nav-elements{
    display: flex;
    margin: 0 0 0 auto;
}
.nav-element, .hover-element{
    list-style: none;
    text-transform: uppercase;
    margin: auto 1em;
    font-weight: 700;
}
.nav-element > a{
    color: var(--light);
    text-decoration: none;
    padding: 1em 0;
}
.nav-element:first-child > a{
    color: var(--primary);
}
.nav-element:hover > a, .hover-element:hover > a {
    color:var(--secondary);
}
.button,.button.secondbtn:hover{
    background-color: var(--primary);
    color:var(--dark);
    font-weight: 700;
    text-transform: uppercase;
    padding: 0.8em 1.8em;
    font-size: 1em;
    margin: auto 0;
    border: 1px solid var(--primary);
    transition: background 300ms ease-in,color 300ms ease-in;
}
.button:hover,.button.secondbtn{
    background-color: transparent;
    color: var(--primary);
}

.hover-menu{
    visibility: hidden;
    position: absolute;
    left: 0;
    top:2em;
    background-color: var(--light);
    padding: 0;
    
}
.hover-menu a {
    color:var(--dark);
    text-decoration: none;
    padding: 1em;
}

.menu{
    position: relative;
    
}
.menu:hover .hover-menu{
    visibility: visible;
}
.hover-element{
    display: flex;
}
section{
    display: flex;
    flex-direction: column;
    padding: 5em var(--sidePadding);
    width: 100%;
    height: 100%;
}
h1,h2,h3,h4,h5,h6{
    color:var(--light);
    font-family: var(--main-font);
    margin: 0;
    line-height: 1em;
}
h1{
    font-size: 5rem;/* 3.5 x size of the root font*/
    width: 8.2ch;
}
h1::first-line{
    color:var(--primary);
}
h2{
    font-size: 2.7rem;
    font-weight: 600;
}
h3{
    color:var(--secondary);
    font-size: 2.6rem;
    font-weight: 700;
    font-family: var(--secondary-font);
}
h4{
    color:var(--secondary);
    font-size: 2rem;
}
h6{
    margin-top: 0.5em;
    font-family: var(--secondary-font);
    font-weight: 900;
    font-size: 1.5rem;
    color: var(--primary);
}
h6:hover{
    color: var(--secondary);
}
a{
    color: var(--light);
    text-decoration: none;
}
p{
    font-size: 1.1em;
}
/*---------- HOME -----------------*/
#Home{
    height: 100vh;
    background: url(./images/background.jpg) ;
    background-size: cover;
    display: flex;
    position: relative;
}
#Home::before{
    content: " ";/* important */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background : linear-gradient(to bottom, rgba(11, 0, 22, 0.6) 0%, rgba(11, 0, 22, 0.7) 65%, rgba(11, 0, 22, 1) 100%);
}
#Home > section{
    z-index: 1;
    justify-content: center;
}
#Home .hero{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}

#Home .hero a{
    margin-bottom: 0.5em;
}
/*------------About ----------*/
#About {
    flex-direction: row;
    align-items: center;
    
}
.about-sec{
    width: 50%;
}
.about-sec h2{
    width: 9ch;
    margin-bottom: 0.5em;
}
.about-container{
    display: flex;
    justify-content: space-between;
}
.about-counters{
    margin-top: 0.5em;
}
.about-counters p{
    font-weight: 600;
    text-transform: uppercase;
}
/*--------Details-------*/
#Details {
    flex-direction: row;
}

.right-detail {
    margin-left: 6em;
    width: 50%;
}
.right-detail span {
    font-family: inherit;
    color: var(--primary);
}
.left-detail {
   width: 60%;
}
.right-detail h2 {
    width: 9.6ch;

}

/*--------------------Speakers ------------*/
#Speakers .top-div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5em;
}
.speaker{
    padding: 0 0.5em;
}
.speaker-visual{
    position: relative;
    overflow: hidden;
}
.speaker-visual .speaker-socials{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0 15%;
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.speaker-visual .speaker-socials img{
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    padding: 0.5em;
    background-color: var(--secondary);
    
}
.speaker-visual .speaker-socials img:hover{
    background-color: var(--primary);
}
.speaker-visual .speaker-socials .speaker-social{
    transform: translateY(5em);
    transition: transform 300ms ease-out;
}
.speaker-visual .speaker-socials .speaker-social:nth-child(2){
    transition-delay: 100ms;
}
.speaker-visual .speaker-socials .speaker-social:nth-child(3){
    transition-delay: 200ms;
}
.speaker-visual:hover .speaker-socials .speaker-social{
    transform: translateY(0);
}
.speaker-visual > img{
    transition: transform 300ms ease-out;
}
.speaker-visual:hover > img{
    transform: scale(1.1);
}
.speaker p{
    margin: 0.5em 0;
    color: var(--light);
}
.speaker p span{
    color:var(--grey);
}
.speakers .owl-nav{
width: calc(100% + 6em);
position: absolute;
display: flex;
margin: auto -3em;
justify-content: space-between;
top: 35%;
}
.speakers.speakers .owl-nav button{
    font-size: 5em;
}

/*------Schedule------*/
.schedule-table {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2em;
    border-radius: 1.2rem;
    background-color: var(--dark);
}

#Schedule h2 {
    margin-bottom: 1em;
}

.schedule-nav {
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 0.2em solid var(--grey);
}

.schedule-nav a {
    display: flex;
    padding: 1em 0;
    margin: 0 1em;
    border-bottom: 0.3 solid transparent;
    font-size: 1.2rem;
    transition: color 300ms ease-in , border-bottom-color 300ms ease-in ;
}
.schedule-nav a:hover, .schedule-nav a.active {
    color: var(--primary);
    border-bottom-color: var(--primary);
}


.schedule-day {
    display: none;
    flex-direction: column;
}
.schedule-day.active {
    display: flex;
}
.schedule-content-element {
    display: flex;
    justify-content: space-between;
    padding: 2em 0;
    border-bottom: 0.1em dashed var(--grey);
}
.schedule-content-element h4 {
    font-family: var(--secondary-font);
    color: var(--light);
    font-size: 1.6em;
}
.schedule-content-element li {
    list-style: "-  ";
}
#Location {
    width: 100%;
    opacity: 0.5;
    transition: opacity 300ms ease-in;
}
#Location:hover {
    opacity: 1;
}

/*-----Sponsors----*/
.sponsors {
    width: 100%;
    background-color: var(--dark);
    padding: 4em 3em;
    border-radius: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sponsors div {
    width: 100%;
    display: flex;
}
.sponsors h2 {
    margin-bottom: 1.5em;
}
.sponsors div img {
    width: 14% ;
    margin: auto;
}

/*-----Contact------*/
#Contact {
    flex-direction: row;
}
.contact-parts {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0 auto;
}
.contact-parts img {
    width: 6em;
}
.contact-parts h4 {
    margin-bottom: 1em;
    color: var(--light);
    font-family: var(--secondary-font);
    font-size: 1.55em;
    width: 30ch;

}
.contact-parts a {
    color: var(--grey);
    text-decoration: underline;
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 0.5em;

}
.contact-parts a:hover {
    color: var(--light);
}
.contact-parts .contact-phone {
    color: var(--primary);
}
.contact-parts .contact-phone a:hover {
    color: var(--secondary);
}
.contact-parts p {
    margin-top: 5;
}
.inputr {
    background-color: transparent;
    outline: var(none);
    border: 0.05em solid var(--primary);
    margin-bottom: 1em;
    font-size: 1.5em;
    color: var(--primary); 
    padding: 00.5em 1em;
}
.copyright-line {
    margin: auto; 
    width: calc(100% - var(--sidePadding));
}
.copyright {
    margin: 1em auto;
}
.copyright a {
    color: #551a8b;
}
footer {
    display: flex;
    flex-direction: column;
}